.ant-layout-brand {
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }

  h1 {
    display: inline-block;
    margin: 0 12px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
}
