$light: #ffffff !default;
$dark: #001529 !default;

$white: #cccccc !default;
$black: rgba(0, 0, 0, .87) !default;

$border-color: #e8e8e8 !default;

$red: red !default;
$primary: #1890ff !default;
$primary-light: $primary !default;
$primary-dark: $primary !default;

$prefix: '.i-layout' !default;
$gutter: 24px !default;
$max-width: 1200px !default;
$header-height: 64px !default;
$sidebar-width: 256px !default;
$sidebar-collapsed-width: 80px !default;
